
body {
  margin: 0;
  font-family: "Merriweather", serif; /* Applying Merriweather as the default font */
  -webkit-font-smoothing: antialiased; /* Smoothing fonts for better readability on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smoothing fonts for better readability on macOS browsers */
}

code {
  font-family: "Merriweather", serif; 
}
